<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Deals Admin!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/feather.css" th:href="@{/css/feather.css}" rel="stylesheet"/>
    <link href="../../static/css/select2.css" th:href="@{/css/select2.css}" rel="stylesheet"/>
    <link href="../../static/css/dropzone.css" th:href="@{/css/dropzone.css}" rel="stylesheet"/>
    <link href="../../static/css/uppy.min.css" th:href="@{/css/uppy.min.css}" rel="stylesheet"/>
    <link href="../../static/css/jquery.steps.css" th:href="@{/css/jquery.steps.css}" rel="stylesheet"/>
    <link href="../../static/css/jquery.timepicker.css" th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"/>
    <link href="../../static/css/jquery.timepicker.css" th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"/>
    <link href="../../static/css/quill.snow.css" th:href="@{/css/quill.snow.css}" rel="stylesheet"/>
    <link href="../../static/css/daterangepicker.css" th:href="@{/css/daterangepicker.css}" rel="stylesheet"/>
    <link href="../../static/css/app-light.css" th:href="@{/css/app-light.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/feather.css" th:href="@{/css/feather.css}">
    <link rel="stylesheet" href="../../css/dataTables.bootstrap4.css" th:href="@{/css/dataTables.bootstrap4.css}">
</head>
<body class="vertical  light  ">
<!-- Header -->
<div th:replace="fragments/navbar"></div>
<div  class="wrapper">
    <aside th:include="fragments/sidebar"></aside>
    <main class="main-content" layout:fragment="content">
        <p>Content goes here...</p>
    </main>
    <footer>
        <div th:replace="fragments/footer" />
    </footer>
</div>
<script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../../static/js/moment.min.js" th:src="@{/js/moment.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/simplebar.min.js" th:src="@{/js/simplebar.min.js}"></script>
<script src='../../static/js/daterangepicker.js' th:src="@{/js/daterangepicker.js}"></script>
<script src='../../static/js/jquery.stickOnScroll.js' th:src="@{/js/jquery.stickOnScroll.js}"></script>
<script src="../../static/js/tinycolor-min.js" th:src="@{/js/tinycolor-min.js}"></script>
<script src="../../static/js/config.js" th:src="@{/js/config.js}"></script>
<script src="../../static/js/d3.min.js" th:src="@{/js/d3.min.js}"></script>
<script src="../../static/js/topojson.min.js" th:src="@{/js/topojson.min.js}"></script>
<script src="../../static/js/datamaps.all.min.js" th:src="@{/js/datamaps.all.min.js}"></script>
<script src="../../static/js/datamaps-zoomto.js" th:src="@{/js/datamaps-zoomto.js}"></script>
<script src="../../static/js/datamaps.custom.js" th:src="@{/js/datamaps.custom.js}"></script>
<script src="../../static/js/Chart.min.js" th:src="@{/js/Chart.min.js}"></script>
<script>
    /* defind global options */
    Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
    Chart.defaults.global.defaultFontColor = colors.mutedColor;
</script>
<script src="../../static/js/gauge.min.js" th:src="@{/js/gauge.min.js}"></script>
<script src="../../static/js/jquery.sparkline.min.js" th:src="@{/js/jquery.sparkline.min.js}"></script>
<script src="../../static/js/apexcharts.min.js" th:src="@{/js/apexcharts.min.js}"></script>
<script src="../../static/js/apexcharts.custom.js" th:src="@{/js/pexcharts.custom.js}"></script>
<script src='../../static/js/jquery.mask.min.js' th:src="@{/js/jquery.mask.min.js}"></script>
<script src='../../static/js/select2.min.js' th:src="@{/js/select2.min.js}"></script>
<script src='../../static/js/jquery.steps.min.js' th:src="@{/js/jquery.steps.min.js}"></script>
<script src='../../static/js/jquery.validate.min.js' th:src="@{/js/jquery.validate.min.js}"></script>
<script src='../../static/js/jquery.timepicker.js' th:src="@{/js/jquery.timepicker.js}"></script>
<script src='../../static/js/dropzone.min.js' th:src="@{/js/dropzone.min.js}"></script>
<script src='../../static/js/uppy.min.js' th:src="@{/js/uppy.min.js}"></script>
<script src='../../js/quill.min.js' th:src="@{/js/quill.min.js}"></script>
<script src='../../js/jquery.dataTables.min.js' th:src="@{/js/jquery.dataTables.min.js}"></script>
<script src='../../js/dataTables.bootstrap4.min.js' th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<script>
    $('#dataTable-1').DataTable(
        {
            autoWidth: true,
            "lengthMenu": [
                [16, 32, 64, -1],
                [16, 32, 64, "All"]
            ]
        });
</script>
<script>
    $('.select2').select2(
        {
            theme: 'bootstrap4',
        });
    $('.select2-multi').select2(
        {
            multiple: true,
            theme: 'bootstrap4',
        });
    $('.drgpicker').daterangepicker(
        {
            singleDatePicker: true,
            timePicker: false,
            showDropdowns: true,
            locale:
                {
                    format: 'MM/DD/YYYY'
                }
        });
    $('.time-input').timepicker(
        {
            'scrollDefault': 'now',
            'zindex': '9999' /* fix modal open */
        });
    /** date range picker */
    if ($('.datetimes').length)
    {
        $('.datetimes').daterangepicker(
            {
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale:
                    {
                        format: 'M/DD hh:mm A'
                    }
            });
    }
    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end)
    {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    $('#reportrange').daterangepicker(
        {
            startDate: start,
            endDate: end,
            ranges:
                {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
        }, cb);
    cb(start, end);
    $('.input-placeholder').mask("00/00/0000",
        {
            placeholder: "__/__/____"
        });
    $('.input-zip').mask('00000-000',
        {
            placeholder: "____-___"
        });
    $('.input-money').mask("#.##0,00",
        {
            reverse: true
        });
    $('.input-phoneus').mask('(000) 000-0000');
    $('.input-mixed').mask('AAA 000-S0S');
    $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
        {
            translation:
                {
                    'Z':
                        {
                            pattern: /[0-9]/,
                            optional: true
                        }
                },
            placeholder: "___.___.___.___"
        });
    // editor
    var editor = document.getElementById('editor');
    if (editor)
    {
        var toolbarOptions = [
            [
                {
                    'font': []
                }],
            [
                {
                    'header': [1, 2, 3, 4, 5, 6, false]
                }],
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            [
                {
                    'header': 1
                },
                {
                    'header': 2
                }],
            [
                {
                    'list': 'ordered'
                },
                {
                    'list': 'bullet'
                }],
            [
                {
                    'script': 'sub'
                },
                {
                    'script': 'super'
                }],
            [
                {
                    'indent': '-1'
                },
                {
                    'indent': '+1'
                }], // outdent/indent
            [
                {
                    'direction': 'rtl'
                }], // text direction
            [
                {
                    'color': []
                },
                {
                    'background': []
                }], // dropdown with defaults from theme
            [
                {
                    'align': []
                }],
            ['clean'] // remove formatting button
        ];
        var quill = new Quill(editor,
            {
                modules:
                    {
                        toolbar: toolbarOptions
                    },
                theme: 'snow'
            });
    }
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function()
    {
        'use strict';
        window.addEventListener('load', function()
        {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form)
            {
                form.addEventListener('submit', function(event)
                {
                    if (form.checkValidity() === false)
                    {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    var uptarg = document.getElementById('drag-drop-area');
    if (uptarg)
    {
        var uppy = Uppy.Core().use(Uppy.Dashboard,
            {
                inline: true,
                target: uptarg,
                proudlyDisplayPoweredByUppy: false,
                theme: 'dark',
                width: 770,
                height: 210,
                plugins: ['Webcam']
            }).use(Uppy.Tus,
            {
                endpoint: 'https://master.tus.io/files/'
            });
        uppy.on('complete', (result) =>
        {
            console.log('Upload complete! We’ve uploaded these files:', result.successful)
        });
    }
</script>
<script src="js/apps.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag()
    {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
</script>
</body>
</html>